.tile {
	display: grid;
	grid-template-columns: 2rem auto;
	padding: 0 1em;
	gap: 1em;
	justify-content: space-between;
	text-align: center;
	box-shadow: 4px 4px 0px 0px rgba(255, 255, 255, 0.1);
	border: 1px solid transparent;
	transition: border 100ms linear;
	transition: box-shadow 100ms linear;
	overflow: hidden;
	position: relative;

	> p {
		width: max-content;
	}
}

.tileHover {
	cursor: pointer;

	&:hover {
		border-color: rgba(255, 0, 0, 0.25);
		box-shadow: 4px 4px 0px 0px rgba(255, 0, 0, 0.25);
	}
}

.span2 {
	grid-column: span 2;
	padding: 0 1.5rem;
}

.boxShadowGray {
	box-shadow: 4px 4px 0px 0px rgba(255, 255, 255, 0.1);
}

.boxShadowGreen {
	box-shadow: 4px 4px 0px 0px rgba(0, 128, 0, 0.25);
}

.boxShadowRed {
	box-shadow: 4px 4px 0px 0px rgba(255, 0, 0, 0.25);
}
