.container {
	padding: 0 2rem;
}

.header {
	text-align: center;
	padding: 1rem;

	h1,
	p {
		margin: 1rem auto;
		line-height: 1.2em;
		max-width: 60rem;
	}
}

.main {
	display: grid;
	grid-template-columns: repeat(auto-fill, 16rem);
	margin: 0 auto;
	gap: 1.5rem;
}
