@use "styles/_mixins.scss" as mixins;

.container {
	height: 100vh;
	width: 100vw;
}

.main {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.input[type="file"] {
	display: none;
}

.customInput {
	@include mixins.button;
}

.button {
	@include mixins.button;
}

.fileList {
	display: grid;
	grid-template-columns: repeat(auto-fill, 12rem);
	gap: 1.5rem;
	padding: 2rem;
	width: 100%;
	justify-content: center;
}
