@use "styles/_mixins.scss" as mixins;

.content {
	display: grid;
	flex-grow: 1;
	min-height: 100vh;
	min-width: 100vw;
	align-items: center;
}

.main {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-width: 100%;
	justify-content: center;
	align-items: center;
}

.upload {
	display: flex;
	justify-content: center;
	max-height: 42rem;
	max-width: 42rem;
	width: 60%;
	height: 60%;
	align-items: center;
	padding: 4em 2em;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='rgba(255, 255, 255, 0.1)' stroke-width='4' stroke-dasharray='8%2c 20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
	cursor: pointer;

	color: rgba(255, 255, 255, 0.2);
	font-size: 2rem;
}

.input[type="file"] {
	display: none;
}

.button {
	@include mixins.button;
}

.fileList {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	padding: 2rem;
	width: 100%;
	max-width: 60rem;
	justify-content: center;
}
