@use "styles/colors" as colors;

.navigation {
	background-color: colors.$background;
	min-height: 100%;
	width: 100%;
	padding: 2rem;
	position: relative;
	z-index: 1;
}

.upload {
	position: absolute;
	margin: 1rem;
	top: 0;
	right: 0;
}

.header {
	padding: 2rem 0;
}

.raijin {
	border-radius: 50%;
	// border: 1px solid colors.$typography !important;
	// padding: 2px !important;
}

.items {
	display: flex;
	flex-direction: column;
}

.item {
	font-weight: 600;
	font-size: 1.3rem;
	margin: 0.35em 0;
	overflow: hidden;
}

.item > p {
	display: inline;
	position: relative;
	cursor: pointer;

	&::before {
		position: absolute;
		content: "";
		background-color: colors.$typography;
		height: 1px;
		width: 100%;
		bottom: 0;
		left: -100%;
	}

	&:hover::before {
		transition: left 200ms ease-out;
		left: 0%;
	}
}

@media only screen and (min-width: 60rem) {
	.navigation {
		width: min(24rem, 30vw);
	}
}
